:root{
  --color:#9176FF;
  --dark-color:#2b2b2b;
  --dark-icon-color:#fff;
  --light-color:#f7f7f7;
  --light-color-icon:#FFDE59;
}

.title{
  margin: 0 0 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  font-weight: 700;
  color: green;
}

.menu {
  padding: 150px 50px 75px;
}

.menu-links{
  position: fixed;
  right: 5px;
  z-index: 2;
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  gap: 5px;
  background-color: green;
}

.menu-links a{
  color: aliceblue;
  font-size: 18px;
  font-weight: 700;
}

.menu-links a:active{
  text-decoration: underline;
  color: darkred;
}

.menu-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 0 0 65px;
}

.menu-card {
  border: 1px solid lightgray;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgb(253, 250, 250);
  transition: all 0.2s ease-in-out;
}

.darkmode .menu-card{
  background-color: var(--dark-color);
}

.menu-card img{
  width: 100%;
}

.menu-card:hover {
  transform: scale(1.01);
}

.menu-card h4 {
  margin: 15px 0;
  font-size: 17px;
  text-align: center;
}

.menu-card__price {
  padding: 30px 25px;
  display: flex;
  justify-content: space-between;
}

.menu-card__price p {
  font-size: 22px;
  font-weight: 600;
}

.menu-card__price button {
  padding: 8px 18px;
  background: linear-gradient(
    to right,
    rgb(6, 6, 224),
    rgb(157, 8, 8),
    rgb(4, 4, 179)
  );
  background-size: 200% auto;
  color: #fff;
  border:none;
  border-radius: 15px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.menu-card__price button:hover{
  background-position: right center;
}

.drink-cards{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.drink-card{
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid lightgray;
  transition: 0.3s;
}

.drink-card:hover{
  transform: scale(1.01);
}

.drink-card img{
  width: 100%;
  height: 270px;
}

.drink-card h4{
  margin: 10px 0;
  text-align: center;
}

.drinks-card__price{
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
}

.drinks-card__price p{
  font-size: 22px;
  font-weight: 600;
}

.menu-card__btn{
  padding: 8px 18px;
  background: linear-gradient(
    to right,
    rgb(6, 6, 224),
    rgb(157, 8, 8),
    rgb(4, 4, 179)
  );
  background-size: 200% auto;
  color: #fff;
  border:none;
  border-radius: 15px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.menu-card__btn:hover{
  background-position: right center;
}

@media (max-width:1200px){
  .menu{
    padding: 130px 50px 75px;
  }

  .menu-cards{
    grid-template-columns: auto auto auto;
    gap: 20px;
  }

  .drink-cards{
    grid-template-columns: auto auto auto;
  }

  .drink-card{
    width: 100%;
  }
}

@media(max-width:991px){
  .menu{
    padding: 130px 20px 75px;
  }

  .menu-cards{
    grid-template-columns: auto auto;
  }

  .drink-cards{
    grid-template-columns: auto auto;
  }
}

@media (max-width:567px){
  .menu{
    padding: 130px 15px 75px;
  }

  .menu-cards{
    grid-template-columns: auto;
    gap: 25px;
  }

  .drink-cards{
    grid-template-columns: auto;
    gap: 25px;
  }
}